<div class= "mt-5 ms-5 ps-4 w-75">

  <div class= "border-bottom pb-2 mb-5">
    <h1>
      Create a New Restaurant
    </h1>
  </div>

  <div class="w-50">
    <%= simple_form_for(@new_restaurant) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: [["Belgian", "Belgian"], ["Chinese", "Chinese"], ["French", "French"], ["Italian", "Italian"], ["Japanese", "Japanese"]], prompt: "Choose from the following options"%>
      <%= f.submit class: "btn btn-secondary mt-3"%>
    <% end %>
  </div>

  <p class="border-top pt-2 mt-5">
     <%=
    link_to "Back to restaurants",
    restaurants_path,
    class: "link-success link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2-hover"
    %>
  </p>

</div>
